[submodule "vendor/metal/metal-cpp"]
	path = vendor/metal/metal-cpp
	url = https://github.com/apple/metal-cpp
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
